/* --------------------------------------------------------------------------
 * MOBILE FIRST LAYOUT
 *
 * Diseñado primero para dispositivos moviles y despues escalado para
 * dispositivos con resolucion mayor a  767.98 px.
 *
 * --------------------------------------------------------------------------
 */

/* --------------------------------------------------------------------------
 * Variables de fuente.
 * --------------------------------------------------------------------------
 */
@font_family: Arial, sans-serif;

/* --------------------------------------------------------------------------
 * Variables de borde.
 * --------------------------------------------------------------------------
 */
@borde_arrow_submenu_abajo: @color-rojo-fi transparent transparent transparent;
@borde_arrow_submenu_derecha: transparent transparent transparent @color-rojo-fi;

.barraMenu {
  border-bottom: 0.125rem solid @color-rojo-fi;
  /* --------------------------------------------------------------------------
   * Núcleo de SmartMenu CSS.
   * --------------------------------------------------------------------------
   */
  .sm {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    direction: ltr;
    display: block;
    line-height: normal;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    z-index: 1;

    &::after {
      clear: both;
      content: "";
      display: block;
      font-family: serif;
      font-size: 0rem;
      height: 0;
      line-height: 0;
      overflow: hidden;
    }

    * {
      box-sizing: inherit;

      &::after, &::before {
        box-sizing: inherit;
      }
    }

    ul, li {
      direction: ltr;
      display: block;
      line-height: normal;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: left;
    }

    ul {
      display: none;
    }

    li {
      position: relative;
    }

    a {
      display: block;
      letter-spacing: 0.0625rem;
      position: relative;
    }
  }

  /* --------------------------------------------------------------------------
   * Estilo personalizado SmartMenu CSS.
   * --------------------------------------------------------------------------
   */
  .sm-custom {
    background: rgb(255, 255, 255);

    a {
      border-left: 0.25rem solid transparent;
      color: @color-barraMenu-fuente;
      font-family: @font_family;
      font-size: 1rem;
      font-weight: normal;
      line-height: 1.063rem;
      padding-right: 3.625rem;
      padding: 0.8125rem 1.25rem;
      text-decoration: none;
      &:hover, &:focus, &:active {
        border-left: 0.25rem solid @color-rojo-fi;
        color: @color-rojo-fi;
        font-family: @font_family;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.063rem;
        padding-right: 3.625rem;
        padding: 0.8125rem 1.25rem;
        text-decoration: none;
      }
      .sub-arrow {
        background: @color-menu-fondo;
        border-radius: 0.25rem;
        font-family: monospace !important;
        font-size: 0.875rem;
        font-weight: bold;
        height: 2.125rem;
        left: auto;
        line-height: 2.125rem;
        margin-top: -1.063rem;
        overflow: hidden;
        position: absolute;
        right: 0.25rem;
        text-align: center;
        text-shadow: none;
        top: 50%;
        width: 2.125rem;
        &::before {
          content: '+';
        }
      }
    }

    a.highlighted {
      border-left: 0.25rem solid @color-rojo-fi;
      color: @color-rojo-fi;
      .sub-arrow {
        &::before {
          content: '-';
        }
      }
    }
    li {
      border-top: 0.0625rem solid rgba(0, 0, 0, 0.05);
    }
    > li {
      &:first-child {
        border-top: 0;
      }
    }
    ul {
      background: rgb(255, 255, 255);
      a {
        font-size: 0.875rem;
        border-left: 0.25rem solid transparent;
        &:hover, &:focus, &:active {
          color: @color-rojo-fi;
          font-size: 0.875rem;
          border-left: 0.25rem solid @color-rojo-fi;
        }
      }
      ul {
        a {
          border-left: 0.25rem solid transparent;
          &:hover, &:focus, &:active {
            color: @color-rojo-fi;
            border-left: 0.25rem solid @color-rojo-fi;
          }
        }
        ul {
          a {
            border-left: 0.25rem solid transparent;
            &:hover, &:focus, &:active {
              color: @color-rojo-fi;
              border-left: 0.25rem solid @color-rojo-fi;
            }
          }
        }
      }
    }

    .sm-nowrap {
      > li {
        > a {
          white-space: nowrap;
        }

        > :not(ul) a {
          white-space: nowrap;
        }
      }
    }

    @media (min-width: @breakpoint-up-menu) {
      border-top: 0;
      background: transparent;
      ul {
        background: rgb(255, 255, 255);
        border-top: 0.125rem solid @color-rojo-fi;
        box-shadow: 0 0.3125rem 0.5625rem rgba(0, 0, 0, 0.2);
        padding: 0.5rem 0;
        position: absolute;
        width: 12em;
        li {
          float: none;
        }
        a {
          border-radius: 0;
          border: 0 !important;
          color: @color-barraMenu-fuente;
          padding: 0.625rem 1.25rem;
          white-space: normal;
          &:hover, &:focus, &:active {
            background: @color-menu-fondo;
            border-radius: 0;
            border: 0 !important;
            box-shadow: none;
            color: @color-rojo-fi;
            padding: 0.625rem 1.25rem;
            .sub-arrow {
              border-color: @borde_arrow_submenu_derecha;
            }
          }
          .sub-arrow {
            border-color: @borde_arrow_submenu_derecha;
            border-style: dashed dashed dashed solid;
            border-width: 4.02px 0 4.02px 0.375rem;
            margin-top: -4.02px;
            right: 0.625rem;
          }
        }
        a.highlighted {
          background: @color-menu-fondo;
          border-radius: 0;
          border: 0 !important;
          box-shadow: none;
          color: @color-rojo-fi;
          padding: 0.625rem 1.25rem;
          .sub-arrow {
            border-color: @borde_arrow_submenu_derecha;
          }
        }
        a.has-submenu {
          padding-right: 1.25rem;
        }
      }
      li {
        border-top: 0;
        float: left;
      }
      a {
        border-left: 0;
        color: @color-barraMenu-fuente;
        padding: 1.2rem 0.5rem;
        white-space: nowrap;
        &:hover, &:focus, &:active {

          background: rgb(255, 255, 255);
          border-left: 0;
          color: @color-rojo-fi;
          padding: 1.2rem 0.5rem;
          .sub-arrow {
            border-color: @borde_arrow_submenu_abajo;
          }
        }
        .sub-arrow {
          background: transparent;
          border-color: @borde_arrow_submenu_abajo;
          border-radius: 0;
          border-style: solid dashed dashed dashed;
          border-width: 0.375rem 4.02px 0 4.02px;
          height: 0;
          margin-top: -0.01875rem;
          right: 1.25rem;
          top: 50%;
          width: 0;
          &::before {
            display: none;
          }
        }
      }
      a.highlighted {
        border-left: 0;
        color: @color-rojo-fi;
        padding: 1.2rem 0.5rem;
        .sub-arrow {
          border-color: @borde_arrow_submenu_abajo;
        }
      }
      a.has-submenu {
        padding-right: 2.125rem;
      }
    }
  }

  /* --------------------------------------------------------------------------
   * Estilo icono Hamburguer SmartMenu CSS.
   * --------------------------------------------------------------------------
   */
  .main-menu-btn {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
    display: inline-block;
    height: 1.75rem;
    overflow: hidden;
    position: relative;
    text-indent: 1.75rem;
    white-space: nowrap;
    width: 1.75rem;
    @media (min-width: @breakpoint-up-menu) {
      position: absolute;
      top: -624.9rem;
    }
  }
  .main-menu-btn-icon {
    -webkit-transition: all 0.25s;
    background: @color-barraMenu-fuente;
    height: 0.125rem;
    left: 0.125rem;
    position: absolute;
    top: 50%;
    transition: all 0.25s;
    width: 1.5rem;
    &:before {
      -webkit-transition: all 0.25s;
      background: @color-barraMenu-fuente;
      content: '';
      height: 0.125rem;
      left: 0;
      position: absolute;
      top: -0.4375rem;
      transition: all 0.25s;
      width: 1.5rem;
    }
    &:after {
      -webkit-transition: all 0.25s;
      background:@color-barraMenu-fuente;
      content: '';
      height: 0.125rem;
      left: 0;
      position: absolute;
      top: 0.4375rem;
      transition: all 0.25s;
      width: 1.5rem;
    }
  }
  #main-menu-state {
    border: 0;
    clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
    height: 0.0625rem;
    margin: -0.0625rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.0625rem;
    &:not(:checked) ~ #main-menu {
      display: none;
    }
    &:checked ~ #main-menu {
      display: block;
    }
    @media (min-width: @breakpoint-up-menu) {
      &:not(:checked) ~ #main-menu {
        display: block;
      }
    }
  }
}