/* BUTTON TO TOP */

.div-top {
    display: none;
    
    .gotoTop {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        bottom: 35px;
        color: #fff;
        cursor: pointer;
        display: none;
        font-size: 20px !important;
        padding: 10px;
        position: fixed;
        right: 15px;
    }

    .gotoTop:hover {
        background: rgba(205, 23, 30, 0.7);
    }
}

@media (min-width: 768px) {
    .div-top {
        display: block;
    }
}
