/* --------------------------------------------------------------------------
 * Estilo general de la página
 * --------------------------------------------------------------------------
 */
html {
  position: relative;
  min-height: 100%;

  body {
    margin-bottom: @altura-pie + 40px;
  }
}

.contenido {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}