/* --------------------------------------------------------------------------
 * MOBILE FIRST LAYOUT
 *
 * Diseñado primero para dispositivos móviles y después escalado para
 * dispositivos con resolución mayor a  767.98 px.
 *
 * --------------------------------------------------------------------------
 */

header {
  background: @color-encabezado-fondo;
  border-bottom: 0.125rem solid @color-rojo-fi;
  height: @altura-encabezado-movil;

  @media (min-width: @breakpoint-up) {
    height: @altura-encabezado-desktop;
  }

  .encabezado-desktop {
    img {
      height: @altura-escudo-desktop;
    }
  }

  .encabezado-movil {
    color: @color-rojo-fi;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 1.2rem;

    img {
      height: @altura-escudo-movil;
    }
  }
}