/* --------------------------------------------------------------------------
 * Paleta de Colores Institucionales.
 * --------------------------------------------------------------------------
 */
@color-rojo-fi: rgb(205, 23, 30);
@color-encabezado-fondo: rgb(216, 216, 216);
@color-menu-fondo: rgb(238, 238, 238);
@color-titulo-fondo: rgb(245, 245, 245);
@color-titulo-borde: rgb(238, 238, 238);
@color-pie-fondo: rgb(51, 51, 51);
@color-pie-titulo: rgb(221, 221, 221);
@color-pie-texto: rgb(204, 204, 204);

/* --------------------------------------------------------------------------
 * Variables de Separación.
 * --------------------------------------------------------------------------
 */
@separacion-tituloInterfaz: 1.5rem;

/* --------------------------------------------------------------------------
 * Variables de Tamaño para texto.
 * --------------------------------------------------------------------------
 */
@tamano-tituloInterfaz-fuente: .9rem;
@tamano-contenido-seccion-titulo-fuente: 1.1rem;

/* --------------------------------------------------------------------------
 * Variables de Color para texto.
 * --------------------------------------------------------------------------
 */
@color-barraMenu-fuente: rgb(68, 68, 68);
@color-tituloInterfaz-fuente: @color-rojo-fi;

/* --------------------------------------------------------------------------
 * Variables de altura.
 * --------------------------------------------------------------------------
 */
@altura-encabezado-desktop: 6.6rem;
@altura-encabezado-movil: 2.5rem;
@altura-escudo-desktop: @altura-encabezado-desktop - 0.6;
@altura-escudo-movil: @altura-encabezado-movil - 0.6;
@altura-pie: 270px;

/* --------------------------------------------------------------------------
 * Variables de puntos de ruptura responsive.
 * --------------------------------------------------------------------------
 */
@breakpoint-up: 767.98px;
@breakpoint-up-menu: 991.98px;

/* --------------------------------------------------------------------------
 * Archivos principales de estilos LESS individuales.
 * --------------------------------------------------------------------------
 */
@import "_encabezado.less";
@import "_barraMenu.less";
@import "_tituloInterfaz.less";
@import "_contenido.less";
@import "_pie.less";

/* --------------------------------------------------------------------------
 * Archivos secundarios de estilos LESS individuales (uno por cada página/interfaz).
 * --------------------------------------------------------------------------
 */
@import "index.less";