footer {
  /* --------------------------------------------------------------------------
  * Núcleo del Footer.
  * --------------------------------------------------------------------------
  */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @altura-pie;
  background-color: @color-pie-fondo;
  font-size: 0.875rem;
  padding-top: 1.563rem;
  z-index: 0;
  border-top: 0.3125rem solid rgba(0, 0, 0, 0.2);
  color: @color-pie-texto;

  .info{
    background-color: @color-pie-fondo;
  }
  /* --------------------------------------------------------------------------
   * Titulo.
   * --------------------------------------------------------------------------
   */
  h4 {
    color: @color-pie-titulo;
    font-size: 0.9375rem;
    font-weight: 600;
    letter-spacing: 0.125rem;
    margin-bottom: 0.9375rem;
    text-transform: none;
  }

  /* --------------------------------------------------------------------------
   * Contacto.
   * --------------------------------------------------------------------------
   */
  .contacto {

    a {
      color: @color-pie-texto;
      text-decoration: none;

      &:hover {
        color: rgb(153, 153, 153);
      }
    }

    /* --------------------------------------------------------------------------
     * Iconos Redes Sociales.
     * --------------------------------------------------------------------------
     */
    ul {
      display: flex;
      left: 50%;
      padding-left: 0;
      padding-top: 2rem; //32
      top: 50%;

      li {
        -webkit-transition: -5s;
        border: 1.5px solid @color-pie-titulo;
        border-radius: 50%;
        box-sizing: border-box;
        height: 2.063rem;
        list-style: none;
        margin: 0 0.375rem;
        overflow: hidden;
        position: relative;
        transition: -5s;
        width: 2.063rem;

        &:first-child {
          margin-left: 0;
        }

        &:hover {
          border: 0;

          .svg-inline--fa {
            &:nth-child(1) {
              color: rgb(255, 255, 255);
              opacity: 1;
              top: 50%;
            }

            &:nth-child(2) {
              opacity: 0;
              top: 150%;
            }
          }
        }

        .svg-inline--fa {
          -webkit-transform: translate(-50%, 50%);
          -webkit-transition: .3s;
          color: rgb(221, 221, 221);
          font-size: 1.063rem;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: .3s;

          &:nth-child(1) {
            opacity: 1;
            top: -50%;
          }
        }
      }

      .li-facebook:hover {
        background: rgb(59, 89, 152);
      }

      .li-twitter:hover {
        background: rgb(85, 172, 238);
      }

      .li-instagram:hover {
        background: rgb(18, 86, 136);
      }

      .li-youtube:hover {
        background: rgb(187, 0, 0);
      }
    }
  }

  /* --------------------------------------------------------------------------
   * Sitios de Interés.
   * --------------------------------------------------------------------------
   */
  .sitios-interes {
    .list-inline {
      flex-direction: column;
      margin-bottom: 0;
      .list-inline-item {
        a {
          background: url("../img/pie/icono-enlace.png") left top no-repeat;
          border: none;
          color: @color-pie-texto;
          display: inline-block;
          padding: 0 0.1875rem 0 0.75rem;
          &:hover {
            color: rgb(170, 170, 170);
            text-decoration: none;
          }
        }
      }

      @media (min-width: @breakpoint-up) {
        flex-direction: row;
      }
    }
  }

  /* --------------------------------------------------------------------------
   * Copyrights.
   * --------------------------------------------------------------------------
   */
  .copyrights {
    background: @color-rojo-fi;
    color: rgb(255, 255, 255);
    line-height: 1.8;
    padding: 0.3125rem 0;

    .derechos-reservados {
      a {
        color: rgb(255, 255, 255);
        display: inline-block;
        margin: 0 0 .1875rem;
        text-decoration: none;

        &:hover {
          color: rgba(255, 255, 255, 0.8);
          text-decoration: underline;
        }
      }
    }

    .derechos-declaracion {
      font-size: 0.6875rem;
      line-height: 1.2;
      padding-top: 0.3125rem;
    }
  }

  /* --------------------------------------------------------------------------
   * Contador de visitas.
   * --------------------------------------------------------------------------
   */
  .visitas {
    background: @color-rojo-fi;
    color: rgb(255, 255, 255);
    padding-bottom: 5px;
    p {
      margin-bottom: initial;
    }
  }
}

/* --------------------------------------------------------------------------
 * Botón ir arriba.
 * --------------------------------------------------------------------------
 */
.boton-top {
  display: none;

  .b-top {
    background: rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    border-radius: 4px;
    bottom: 35px;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 20px !important;
    padding: .3rem .7rem;
    position: fixed;
    right: 2rem;
    z-index: 1;

    &:hover {
      background: @color-rojo-fi;
      opacity: .50;
    }
  }

  @media (min-width: @breakpoint-up) {
    display: block;
  }
}