.titulo-interfaz {
  background-color: @color-titulo-fondo;
  border-bottom: 1px solid @color-titulo-borde;
  text-align: left;
  font-size: @tamano-tituloInterfaz-fuente;
  font-weight: 500;
  color: @color-tituloInterfaz-fuente;
  margin-bottom: @separacion-tituloInterfaz;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.titulo{
  color: @color-rojo-fi;
  text-align: center;
}