.contenedor{
	width:80%;
	max-width:1000px;
}

.form-recover{
	width: 80%;
	margin: auto;
	background: #fff;
	border-color: #CE0303;
	border-bottom: 2px solid #CE0303;
	border-left: 2px solid #CE0303;
	border-right: 2px solid #CE0303;
	border-radius: 7px;
}

.form_title{
	background: #CE0303;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 15px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	border-bottom: 2px solid #000000;
}

.contenedor-inputs{
	width: 100%;
	max-width: 1000px;
	padding: 10px 30px;
	flex-wrap: wrap;
	justify-content: space-between;
	box-sizing:border-box;
}

a#subtitle {
    border-color: transparent;
}

.btn-outline-danger {
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #000000;
}

.btn-lg {
    padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: .3rem;
}

form#contenedor {
    margin-bottom: 60px;
}

h4, h6 {
    color: #CE0303;
}

i.fa.fa-shield {
    padding-right: 4px;
}

a {
    color: #CE0303;
}

.form_title_a{
	background: #CE0303;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-weight: 100;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	border-bottom: 2px solid #000000;
}

input, select {
    width: 75%;
    /* margin-bottom: 15px; */
    padding: 10px;
    border-radius: 3px;
    border: 1px solid gray;
}

.form-recover-a{
	width: 60%;
	margin: auto;
	background: #fff;
	border-color: #CE0303;
	border-bottom: 2px solid #CE0303;
	border-left: 2px solid #CE0303;
	border-right: 2px solid #CE0303;
	border-radius: 7px;
}

.btn-enters{
	width: 40%;
}

@media screen and (max-width: 765px){
	
	.form_title{
		font-size: 20px;
	}
	.form-recover{
	width: 100%;
	}

	.form-recover-a{
	width: 100%;
	}

	input, select{
	font-size: 15px;
	}

	.rc-anchor{
		width: 50%;	
	}
	.btn-enters{
		width: 60%;
		font-size: 12px;
	}	

}

@media screen and (max-width: 455px){
	
	.form_title{
		font-size: 15px;
	}
	.form-recover{
	width: 100%;
	}

	.form-recover-a{
	width: 100%;
	}

	input, select{
	font-size: 10px;
	}
	
	.rc-anchor{
		width: 50%;	
	}
	.btn-enters{
		width: 75%;
		font-size: 8px;
	}	

}