#carousel-inicio {
  .carousel-item {
    background-image: url(../img/carousel/aviso.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    img {
      min-width: 100%;
      height: 100%;
    }

    p {
      text-align: center;
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: initial;
    }
  }

  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    .carousel-item {
      height: 10rem;
      p {
        padding: 15px;
        font-size: 0.7rem;
      }
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767.98px) {
    .carousel-item {
      height: 14rem;
      p {
        padding: 18px;
        font-size: 0.8rem;
      }
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) {
    .carousel-item {
      height: 16rem;
      p {
        padding: 20px;
        font-size: 0.9rem;
      }
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .carousel-item {
      height: 20rem;
      p {
        padding: 25px;
        font-size: 1rem;
      }
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .carousel-item {
      height: 24rem;
      p {
        padding: 30px;
        font-size: 1.2rem;
      }
    }
  }

  .carousel-indicators {
    bottom: -2.1rem;

    li {
      background-color: #cd171e;
      border-radius: 11px;
      display: inline-block;
      height: 11px;
      max-width: 11px;
      opacity: 0.5;
    }

    .active {
      opacity: 1;
    }
  }

  .carousel-control-prev, .carousel-control-next {
    font-size: 2rem;
    color: @color-rojo-fi;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  .carousel-control-prev {
    justify-content: flex-start;
    padding-left: 0.5rem;
  }

  .carousel-control-next {
    justify-content: flex-end;
    padding-right: 0.5rem;
  }
}