<header class="d-flex">
    <div class="container-fluid d-flex">
        <div class="container d-flex align-items-center flex-row">
            <div class="col d-block d-md-none encabezado-movil">
                <div class="row">
                    <div class="col-9 text-center titulo-aplicacion">SERVACAD</div>
                    <div class="escudo col-3 text-right">
                        <img src="img/encabezado/logo-fi.png" alt="INGENIERIA">
                    </div>
                </div>
            </div>
            <div class="col d-none d-md-block encabezado-desktop">
                <div class="row">
                    <div class="col-md-5 text-left">
                        <a href="http://www.unam.mx" target="_blank">
                            <img src="img/encabezado/logo-unam.png" alt="UNAM">
                        </a>
                    </div>
                    <div class="col-md-7 text-right">
                        <a class="d-inline-block" href="http://www.ingenieria.unam.mx" target="_blank">
                            <img src="img/encabezado/logo-fi.png" alt="INGENIERÍA">
                        </a>
                        <a class="d-inline-block" href="https://inscripciones.ingenieria.unam.mx/" target="_blank">
                            <img src="img//encabezado/logo-servacad.png" alt="USECAD">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <nav class="main-nav barraMenu" role="navigation">
        <div class="container">
            <input id="main-menu-state" type="checkbox">
            <label class="main-menu-btn" for="main-menu-state">
                <span class="main-menu-btn-icon"></span>
            </label>
            <ul class="sm sm-custom" id="main-menu">
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a href="#" onclick="return false;">Nosotros</a>
                    <ul>
                        <li>
                            <a href="mision_vision.html">Misión y Visión</a>
                        </li>
                        <li>
                            <a href="organigrama.html">Organigrama de la SSA</a>
                        </li>
                        <li>
                            <a href="funciones_principales.html">Funciones principales</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" onclick="return false;">Comunidad</a>
                    <ul>
                        <li>
                            <a href="https://thor.fi-a.unam.mx/fi-usecad-j/test/horarios/asignatura" target="_self">Horarios de asignaturas</a>
                        </li>
                        <li>
                            <a href="http://servacad.ingenieria.unam.mx/salones/" target="_blank">Ubicación de salones</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" onclick="return false;">Alumnos</a>
                            <ul>
                                <li><a href="primer_ingreso.html">Primer Ingreso</a></li>
                                <li><a href="reinscripcion.html">Reinscripción (Ordinaria)</a></li>
                                <li><a href="extraordinario.html">Extraordinarios</a></li>
                                <li><a href="https://www.dgae-siae.unam.mx/www_gate.php" target="_blank">Calificaciones</a></li>
                                <li><a href="beca.html">Becas</a></li>
                                <li><a href="http://servacad.ingenieria.unam.mx/" target="_blank">Servicios Escolares</a></li>
                                <li><a href="movilidad.html">Movilidad</a></li>
                                <li><a href="servicio_practicas.html">Servicio Social y Practicas Profesionales</a></li>
                                <li><a href="titulacion.html">Titulación</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" onclick="return false;">Docentes</a>
                            <ul>
                                <li><a href="docente.html">Lista de Alumnos</a></li>
                                <li><a href="https://www.dgae-siae.unam.mx/www_gate.php" target="_blank">DGAE - SIAE</a></li>
                                <li><a href="http://www.ingenieria.unam.mx/~centrodedocencia/index.php" target="_blank">Centro de Docencia</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="agrupaciones.html">Agrupaciones Estudiantiles</a>
                        </li>
                        <li>
                            <a href="publicaciones.html">Publicaciones</a>
                        </li>
                        <li>
                            <a href="deportes.html">Actividades Deportivas</a>
                        </li>
                        <li>
                            <a href="salon_aula.html">Ubicación de Salones y Aulas Virtuales</a>
                        </li>
                        <li>
                            <a href="#" onclick="return false;">Calendario</a>
                            <ul>
                                <li><a href="http://servacad.ingenieria.unam.mx/escolar/calendario/" target="_blank">FI (escolar)</a></li>
                                <li><a href="https://www.dgae.unam.mx/calendarios_escolares.html" target="_blank">DGAE</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" onclick="return false;">Oferta Académica</a>
                    <ul>
                        <li>
                            <a href="licenciatura.html">Licenciatura</a>
                        </li>
                        <li>
                            <a href="#">Posgrado</a>
                            <ul>
                                <li><a href="http://www.ingenieria.unam.mx/spifi/especial1.html" target="_blank">Especialidad</a></li>
                                <li><a href="http://www.ingenieria.unam.mx/spifi/posgrado1.html" target="_blank">Maestría y Doctorado</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" onclick="return false;">Extensión y Vinculacion</a>
                    <ul>
                        <!--li><a href="http://www.egresados.ingenieria.unam.mx/" target="_blank">Cursos de la SSA</a></li -->
                        <li><a href="http://www.egresados.ingenieria.unam.mx/" target="_blank">Oficina de Egresados</a></li>
                        <li><a href="bolsa-trabajo.html">Bolsa de Trabajo</a></li>
                        <li><a href="http://sefi.org.mx/" target="_blank">Sociedad de Exalumnos de la FI (SEFI)</a></li>
                        <li><a href="https://www.facebook.com/ceagfi" target="_blank">Asamblea de Generaciones de la FI (AGFI)</a></li>
                        <li><a href="http://www.torreingenieria.unam.mx/catalogo/ingenieria.html" target="_blank">Catálogo de Especialidades</a></li>
                    </ul>
                </li>
                <li>
                    <a href="indicadores.html">Indicadores</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<script>
    // Función para llamar el menú de navegación.
    $(function() {
        $('#main-menu').smartmenus({
            subMenusSubOffsetX: 6,
            subMenusSubOffsetY: -8
        });
        var $mainMenuState = $('#main-menu-state');
        if ($mainMenuState.length) {
            // Animación para dispositivos móviles.
            $mainMenuState.change(function(e) {
                console.log("Cambie");
                var $menu = $('#main-menu');
                if (this.checked) {
                    $menu.hide().slideDown(250, function() { $menu.css('display', ''); });
                } else {
                    $menu.show().slideUp(250, function() { $menu.css('display', ''); });
                }
            });
            // Oculta el menú antes de la carga.
            $(window).on('beforeunload unload', function() {

                if ($mainMenuState[0].checked) {
                    $mainMenuState[0].click();
                }
            });
        }
    });
</script>