        <div class="boton-top">
            <span class="b-top">
                <i class="fas fa-angle-up fa-lg"></i>
            </span>
        </div>
        <footer>
            <section class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-auto d-none d-md-block">
                            <img class="img-fluid" src="img/pie/texto-fi.png" alt="Logo Facultad">
                        </div>
                        <div class="col contacto">
                            <address class="mb-0">
                                <a href="http://www.unam.mx" target="_blank">
                                    <strong>Universidad Nacional Autónoma de México</strong>
                                </a><br>
                                Facultad de Ingeniería, Av. Universidad 3000, Ciudad Universitaria, Coyoacán, CDMX. CP. 04510
                            </address>
                            <strong>Teléfono:</strong> 56 22 08 61 y 56 22 08 85. Fax 56 22 08 80<br>
                            <strong>Correo:</strong> <a href="mailto:ssa@correossa.unam.mx">ssa@correossa.unam.mx</a><br>
                            <ul>
                                <a href="#" target="_blank">
                                    <li class="li-facebook">
                                        <i class="fab fa-facebook-f"></i>
                                        <i class="fab fa-facebook-f"></i>
                                    </li>
                                </a>
                                <a href="#" target="_blank">
                                    <li class="li-twitter">
                                        <i class="fab fa-twitter"></i>
                                        <i class="fab fa-twitter"></i>
                                    </li>
                                </a>
                                <!--<a href="#" target="_blank">
                                    <li class="li-instagram">
                                        <i class="fab fa-instagram"></i>
                                        <i class="fab fa-instagram"></i>
                                    </li>
                                </a>
                                <a href="#" target="_blank">
                                    <li class="li-youtube">
                                        <i class="fab fa-youtube"></i>
                                        <i class="fab fa-youtube"></i>
                                    </li>
                                </a>-->
                            </ul>
                        </div>
                        <div class="col-md-auto mr-5 d-none d-md-block">
                            <h4>Sitios de Interés</h4>
                            <div class="sitios-interes">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="http://servacad.ingenieria.unam.mx/" target="_blank">Servicios Escolares</a></li>
                                </ul>
                                <ul class="list-inline d-flex justify-content-between"">
                                    <li class="list-inline-item"><a href="http://www.fi-b.unam.mx/" target="_blank">DIE</a></li>
                                    <li class="list-inline-item mr-3"><a href="http://www.ingenieria.unam.mx/dimei/" target="_blank">DIMEI</a></li>
                                </ul>
                                <ul class="list-inline d-flex justify-content-between">
                                    <li class="list-inline-item"><a href="http://dicyg.fi-c.unam.mx:8080/Site" target="_blank">DICyG</a></li>
                                    <li class="list-inline-item mr-4"><a href="http://www.dict.unam.mx/" target="_blank">DICT</a></li>
                                </ul>
                                <ul class="list-inline d-flex justify-content-between">
                                    <li class="list-inline-item"><a href="http://dcb.ingenieria.unam.mx/" target="_blank">DCB</a></li>
                                    <li class="list-inline-item mr-2"><a href="http://www.dcsyhfi.unam.mx/" target="_blank">DICSyH</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="copyrights">
                <div class="container text-justify">
                    <div class="derechos-reservados">
                        <p class="mb-0">
                            Todos los derechos reservados &copy; 2006 - <span id="crAnio"></span> /
                            <a href="http://www.ingenieria.unam.mx"> Facultad de Ingeniería / </a>
                            <a href="http://www.unam.mx"> UNAM /</a>
                        </p>
                        <p class="derechos-declaracion d-none d-md-block">
                            Este es el sitio Web de la Secretaría de Servicios Académicos de la Facultad de Ingeniería de la UNAM. Puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica. Contiene enlaces con diversos portales de entidades y organizaciones académicas, estudiantiles y profesionales, así como con páginas personales de profesores e investigadores cuyos contenidos son de la responsabilidad exclusiva de sus titulares.
                        </p>
                    </div>
                </div>
            </section>
            <section class="visitas">
                <div class="container text-right">
                    <p>Visitas: <span class="contador-visitas"></span></p>
                </div>
            </section>
        </footer>
        <!-- CARGA DE GOOGLE ANALYTICS -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118981745-1"></script>
        <!-- SCRIPTS NECESARIOS -->
        <script>
            // Botón ir arriba.
            $(function() {
                $('.b-top').on("click", function() {
                    $('body, html').animate({
                        scrollTop: '0px'
                    }, 300);
                });
                $(window).scroll(function() {
                    if ( $(this).scrollTop() > 100) {
                        $('.b-top').slideDown(300);
                    } else {
                        $('.b-top').slideUp(300);
                    };
                });

                // Año para el CopyRight
                $("#crAnio").text(new Date().getFullYear());

                // Funcionalidad de Google Analytics
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-118981745-1');
            });
        </script>
    </body>
</html>